<span class="dropdown">
<span class="shard shard-{{state}} normal-action {{clazz}}" data-toggle="dropdown" id="{{id}}">
  <small>{{shard.shard}}</small>
</span>
<ul class="dropdown-menu" aria-labelledby="{{id}}">
  <li ng-click="shardStats(shard.index, shard.node, shard.shard)" data-toggle="modal" href="#confirm_dialog" target="_self">
    <a target="_self"><i class="fa fa-fw fa-info-circle"> </i> display shard stats</a>
  </li>
  <li ng-click="select(shard)" ng-hide="equal(relocatingShard)">
    <a target="_self"><i class="fa fa-fw fa-arrows"> </i> select for relocation</a>
  </li>
  <li ng-click="select()" ng-show="equal(relocatingShard)">
    <a target="_self"><i class="fa fa-fw fa-arrows"> </i> unselect for relocation</a>
  </li>
</ul>
</span>
