<div class="modal custom-modal" id="confirm_dialog" tabindex="-1" role="dialog" ng-controller="ModalController">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <i class="fa fa-times-circle-o normal-action" data-dismiss="modal" ng-click="service.close()">
        </i>
        <span class="modal-title"></span>
      </div>
      <div class="modal-body" ng-show="service.text">{{service.text}}</div>
      <div class="modal-body" ng-bind-html="service.info"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click='service.close()'>
          Close
        </button>
        <button type="button" class="btn btn-warning" data-dismiss="modal" ng-click='service.confirm()' ng-show="service.needsConfirmation()">
          Confirm
        </button>
      </div>
    </div>
  </div>
</div>
