<div class="row">
  <div class="col-lg-12">

    <nav class="pull-right">
      <ul class="pager noselect">
        <li>
          <span class="pager-text">{{page.first | number:0}}-{{page.last | number:0}} of {{page.total | number:0}}</span>
        </li>
        <li class="normal-action" ng-show="page.previous" ng-click="paginator.previousPage()"><a target="_self">&larr;</a></li>
        <li class="disabled" ng-hide="page.previous"><a target="_self">&larr;</a></li>
        <li class="normal-action" ng-show="page.next" ng-click="paginator.nextPage()"><a target="_self">&rarr;</a></li>
        <li class="disabled" ng-hide="page.next"><a target="_self">&rarr;</a></li>
      </ul>
    </nav>

  </div>
</div>

