@import models.BuildInfo

<!DOCTYPE html>
<html lang="en" ng-app="cerebro" ng-init="appVersion = 'v@BuildInfo.version'">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>{{title}}</title>
        <link rel="icon" type="image/png" href="img/favicon.png">
        <link rel="stylesheet" href="css/lib.css">
        <link rel="stylesheet" href="css/app.css">
        <script src="js/lib.js"></script>
        <script src="js/app.js"></script>
    </head>
    <body>
        <div ng-include src="'alerts.html'" ng-controller="AlertsController" class="alerts"></div>
        <div ng-include src="'navbar.html'"></div>
        <div class="container-fluid main">
            <div class="row">
                <div class="col-sm-12">
                    <div class="content" ng-view onload="setup()"></div>
                </div>
            </div>
        </div>
        <div ng-include src="'modal.html'"></div>
    </body>
</html>
